.red{
    height: 250px;
    background-color: #c61324;
}
.redd{
    height: 80px;
    background-color: #c61324;
}
.conta{
    display: flex;
    justify-content: space-between;
}
.container_login{
     display: flex;
     justify-content: space-between;
     margin-top: 40px;
     margin-bottom: 40px;
 }
.btn-danger{
    background-color: #c61324;
    border-color: #b21325;
    border-width: 3px;
}
.conn{
    align-content: right;
    margin-top: 10px;
}
.containeur{
    display: flex;
    justify-content: space-around;
}
.ima{
    margin-left: 14%;
}
.contain{
    display: flex;
    justify-content: space-around;
}
.copyright{
    font-size: 10px;
    text-align: center  ;
    margin-top: 30px;
}
.logo{
    margin-top: 15px;
}
.team{
    margin-top: 25px;
}
.goodies{
    border: 2px solid red;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img{
    width: 15%;
}
.element{
}
.desc{
    margin-left: 28%;
    margin-right: 28%;
}
.nomprix{

}
.elem{
    display: flex;flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px
}