{% extends 'base.html.twig' %}
{% block title %}Contact - {{ parent() }}{% endblock %}


{% block body %}
    <div class="well container_login">
        <div></div>
        <form name="contact_form" method="post">
            <h3 style="margin-bottom: 50px" class="alert-secondary alert">Formulaire de contact :</h3>

            <div class="form-group">
                <label for="contact_form_mail" class="required">Votre E-Mail</label>
                <input class="form-control" type="email" onblur="verif(this)" id="contact_form_mail" name="contact_form[mail]" required="required">
            </div>
            <div class="form-group">
                <label for="contact_form_title" class="required">Titre du mail</label>
                <input class="form-control" type="text" onblur="verif(this)" id="contact_form_title" name="contact_form[title]" required="required">
            </div>
            <div class="form-group">
                <label for="contact_form_message" class="required">Votre Message</label>
                <textarea class="form-control" onblur="verif(this)" id="contact_form_message" name="contact_form[message]" required="required"></textarea>
            </div>
            <div class="form-group">
                <div class="conins">
                <button  class="btn btn-danger logi " type="submit" id="contact_form_save" name="contact_form[save]">Envoyer</button>
                </div>
            </div>
            <input type="hidden" id="contact_form__token" name="contact_form[_token]" value="RaRdqDQcN0zQyE4s8FEaQcw2XmBHpcCptX-3R3CJVvo">
        </form>

    <div></div>
    </div>
{% endblock %}