{% extends 'base.html.twig' %}

{% block title %}Acceuil - {{ parent() }}{% endblock %}

{% block body %}
    <div style="height: 500px;" class="container_login accueil">
        <div></div>
        <div></div>
        <div class="iframe">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2605.380272164509!2d4.010223615687612!3d49.231279079325816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e9748c4dfd3633%3A0x21e7a3d383c840e7!2sCESI+Reims!5e0!3m2!1sfr!2sfr!4v1523643332703" width="400" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
        <div></div>

    </div>
{% endblock %}
