{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}{% endblock %}

{% block body %}
    <div class="alert alert-warning coinfcom">
    Votre panier a bien été validé, un mail a été envoyé au BDE qui vous recontactera sous peu.
    </div>
    <a href="{{ path('my_carts_details', {'idCart': currentCart.id}) }}">
        <button type="button" class="btn btn-secondary btnconf ">Récapitulatif de la commande</button>
    </a>
{% endblock %}